{# templates/event/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ event.title }}
    |
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="hero p-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <img src="{{ asset(event.picture) }}" alt="{{ event.title }}" class="img-fluid" style="max-width: 500px;">
                </div>
                <div class="col-sm-12 col-lg-6 mt-3">
                    <h2>{{ event.title }}</h2>
                    <p class="card-text text-muted">
                    <p>Date de l'événement : {{ event.getEventDate()|date('d/m/Y H:i') }}</p>  
                        {{ event.address }}
                    </p>
                    <p class="lead">{{ event.description }}</p>
                    
                    <p>Catégorie : 
                    {% if event.categories|length > 0 %}
                        {% for category in event.categories %}
                            {{ category.name }} 
                        {% endfor %}
                    {% else %}
                        Aucune catégorie associée.
                    {% endif %}
                    </p>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {# Utilisateur connecté - redirige vers son espace personnel avec la réservation #}
                        <a href="{{ path('mon_espace', {'reservedEventId': event.id}) }}" class="btn btn-success">Voir ma réservation</a>
                    {% else %}
                        {# Utilisateur non connecté - redirige vers la connexion #}
                        <a href="{{ path('connexion') }}" class="btn btn-primary btn-reserve">Réserver</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
