<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('homepage') }}">Symfony Ticketing App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobileMenu">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'homepage' ? 'active' : '' }}" href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'about' ? 'active' : '' }}" href="{{ path('about') }}">À propos</a>
                </li>

                {% if app.user %}
                    <!-- Lien vers l'espace personnel si l'utilisateur est connecté -->
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'mon_espace' ? 'active' : '' }}" href="{{ path('mon_espace') }}">Mon Espace</a>
                    </li>
                    <li class="nav-item">
                        <!-- Formulaire pour le bouton de déconnexion -->
                        <form action="{{ path('logout') }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-link nav-link" style="display:inline; cursor:pointer; color:white;">Déconnexion</button>
                        </form>
                    </li>
                {% else %}
                    <!-- Lien de connexion si l'utilisateur n'est pas connecté -->
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'connexion' ? 'active' : '' }}" href="{{ path('connexion') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
